.App {
  text-align: center;
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.link-container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 100 vh;
  width: 15%;
  justify-content: flex-start;
  
}


